/* font style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* head section  */


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-section {
    display: flex;
    background-color: #2D25A0;
    justify-content: center;
    height: 677px;
    
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    
    
}

.distance{
    padding-left: 156px;
    padding-right: 102px ;
    padding-top: 207px;
    padding-bottom: 240px;
}

.heading-color {
    font-size: 64px;
    font-weight: bold;
    color: white;
    width: 485px;
    height: 230px;
   
}

.button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 168px;
    height: 44px;  
    margin-top: 27px;
    background: #E02C6D;

}

.fa-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 24px;
    width: 24px;
}



.top-header img {
    padding-left: 51px;
    padding-right: 140.99px;
    padding-top: 153px;
    padding-bottom: 86px;
}

/* end of header  */

/* start of main section  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 70px;
   
}

.container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    /* width: 330px;
    height: 456px; */
    
    height: 474px;
    /* margin: 15px; */
    box-shadow: 0px 0px 40px rgba(63, 39, 39, 0.15);
}

.player-images {
    text-align: center; 
}

.player-images img {
    /* width: 300px; */
    width: 90%;
    height: 256px;  
    /* text-align: center;  */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.blog {
    display: flex;
    flex-direction: column;
    /* margin:15px; */
    
    
}

.player-name {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #18191F;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}


.player-details {
    color: #6C6C6C;
    font-size: 16px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    /* margin-bottom: 18px;
    margin-top: 10px; */
}



